<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Secret Chat</title>
    <link rel="stylesheet" href="../style.css" />
    <link rel="shortcut icon" href="yellow-bird.svg" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap" rel="stylesheet" />
  </head>
  <body>
    <section id="chatroomContainer">
      <nav id="chatroomNavbar">
        <div id="listIcon" title="See who's here!"></div>
        <span id="loggedIn">You are logged in as <span id="youAreLoggedInAs"><%= username %></span></span>
        <a href="/logout" id="logout" title="Logout"></a>
      </nav>

      <ul class="userlist"></ul>

      <ul id="messages">
        <% for (const chatObject of chathistory) { if (chatObject.username === username) { %>
        <li class="ownMessage"><span class="username">You: </span><%= chatObject.chat %> <time><%= chatObject.timestamp.toLocaleString("en-US").replace(/,/g, "") %></time></li>
        <% } else { %>
        <li class="othersMessage"><span class="username"><%= chatObject.username %>: </span><%= chatObject.chat %><time><%= chatObject.timestamp.toLocaleString("en-US").replace(/,/g, "") %></time></li>
        <% }} %>
      </ul>

      <form id="chatForm">
        <input id="chatInput" autocomplete="off" type="text" autofocus />
        <button type="submit" id="sendButton">Send</button>
      </form>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/chatroom/chatroom.js" async></script>
  </body>
</html>
